<main class='p-5'>
  <div class='card p-5'>
    <p id='test'>Hello World!</p>
    <p id='test'>Hello World!</p>
    <p id='test'>Hello World!</p>
    <p class='Test'>Hello World!</p>
    <span hidden class='test'>Hello World!</span>
  </div>

  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>

  <div>
    <span class='block'>Inline-block</span>
    <span>Inline</span>
    <span>Inline</span>
    <span>Inline</span>
    <span>Inline</span>
  </div>
</main>